In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Import file
path = r'/Users/jorisjan/Documents/CareerFoundry/Assistance for disabled people in stations - Analysis'
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'assistance for disabled people stations.csv'), encoding='ISO-8859-1')

### Exploring commands

In [3]:
# Display the 20 first rows of the dataframe
df.head(20)

,year,station_code,station_name,region_sncf,departement,departement_code,zip_code,municipality,longitude,latitude,total_passengers_over_the_year,station_category,service_level,wheelchair_available_in_station,simple_assistance,ramp_assistance,wheelchair_assistance,ramp_and_wheelchair_assistance,total_assistance
0,2015,87111849,Marne-la-Vallee Chessy,REGION DE PARIS-SUD-EST,Seine-et-Marne,77,77700,Chessy,2.782720,48.869856,5443822,3,1,1,3677,2081,78,9357,15193
1,2015,87113001,Paris Est,REGION DE PARIS-EST,Paris,75,75010,Paris,2.358424,48.876742,34919689,3,1,1,3610,2946,161,11133,17850
2,2015,87116582,Chateau-Thierry,REGION DE PARIS-EST,Aisne,2,2400,Chateau-Thierry,3.409514,49.038224,1924022,2,2,1,29,5,0,149,183
3,2015,87118000,Troyes,REGION CHAMPAGNE-ARDENNE,Aube,10,10014,Troyes,4.065281,48.296069,1001917,3,2,1,72,145,7,518,742
4,2015,87118158,Romilly-sur-Seine,REGION DE PARIS-EST,Aube,10,10100,Romilly-sur-Seine,3.728887,48.514433,306218,2,3,0,25,45,0,113,183
5,2015,87141002,Nancy,REGION LORRAINE,Meurthe-et-Moselle,54,54000,Nancy,6.174583,48.689861,7918088,3,1,1,3569,968,79,8651,13267
6,2015,87141044,Toul,REGION LORRAINE,Meurthe-et-Moselle,54,54200,Toul,5.880615,48.679018,232067,2,2,0,430,40,7,576,1053
7,2015,87141150,Luneville,REGION LORRAINE,Meurthe-et-Moselle,54,54300,Luneville,6.497270,48.588233,923786,2,2,0,87,28,3,255,373
8,2015,87141291,Neufchateau,REGION LORRAINE,Vosges,88,88300,Neufchateau,5.690402,48.358343,80707,1,3,0,13,23,0,189,225
9,2015,87141820,Pont-a-Mousson,REGION LORRAINE,Meurthe-et-Moselle,54,54700,Pont-a-Mousson,6.050842,48.900580,979424,2,3,0,280,5,2,367,654
10,2015,87142000,Chaumont,REGION CHAMPAGNE-ARDENNE,Haute-Marne,52,52000,Chaumont,5.134600,48.109760,420282,2,2,0,103,104,6,552,765
11,2015,87142109,Lorraine TGV,REGION LORRAINE,Moselle,57,57420,Louvigny,6.169838,48.947773,647339,3,2,1,699,654,48,2600,4001
12,2015,87142125,Culmont-Chalindrey,REGION LORRAINE,Haute-Marne,52,52600,Chalindrey,5.443222,47.810090,100673,1,3,0,38,114,4,471,627
13,2015,87144006,pinal,REGION LORRAINE,Vosges,88,88000,pinal,6.441787,48.178005,1143705,2,2,1,348,113,13,1371,1845
14,2015,87144014,Saint-Die-des-Vosges,REGION LORRAINE,Vosges,88,88100,Saint-Die-des-Vosges,6.948656,48.282225,405652,2,2,0,144,42,7,323,516
15,2015,87144055,Charmes,REGION LORRAINE,Vosges,88,88130,Charmes,6.301537,48.378483,288612,2,3,0,6,0,0,7,13
16,2015,87144279,Vittel,REGION LORRAINE,Vosges,88,88800,Vittel,5.941872,48.202488,66226,1,3,0,5,7,0,31,43
17,2015,87144451,Remiremont,REGION LORRAINE,Vosges,88,88200,Remiremont,6.598855,48.016363,266804,2,2,0,73,50,6,264,393
18,2015,87147322,Meuse TGV,REGION LORRAINE,Meuse,55,55220,Trois-Domaines,5.270954,48.978549,202506,3,2,1,94,75,0,416,585
19,2015,87171009,Reims,REGION CHAMPAGNE-ARDENNE,Marne,51,51100,Reims,4.024435,49.258978,3884021,3,2,1,750,408,29,3315,4502

In [4]:
# Return the dimensions of a dataframe
df.shape

(5409, 19)

In [5]:
# Return some basic info about a dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5409 entries, 0 to 5408
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   year                             5409 non-null   int64
 1   station_code                     5409 non-null   int64
 2   station_name                     5409 non-null   object
 3   region_sncf                      5409 non-null   object
 4   departement                      5409 non-null   object
 5   departement_code                 5409 non-null   int64
 6   zip_code                         5409 non-null   int64
 7   municipality                     5409 non-null   object
 8   longitude                        5409 non-null   float64
 9   latitude                         5409 non-null   float64
 10  total_passengers_over_the_year   5409 non-null   int64
 11  station_category                 5409 non-null   int64
 12  service_level                    5409 non-null   int64
 13  wheelchair_available_in_station  5409 non-null   int64
 14  simple_assistance                5409 non-null   int64
 15  ramp_assistance                  5409 non-null   int64
 16  wheelchair_assistance            5409 non-null   int64
 17  ramp_and_wheelchair_assistance   5409 non-null   int64
 18  total_assistance                 5409 non-null   int64
dtypes: float64(2), int64(13), object(4)
memory usage: 803.0+ KB

In [6]:
# Change 'station_code' datatype from int64 to string
df['station_code'] = df['station_code'].astype('string')

In [7]:
# Convert zip_code to string and add leading zeros if necessary
df['zip_code'] = df['zip_code'].astype(str).str.zfill(5)

In [8]:
# Convert departement_code to string and add leading zeros if necessary
df['departement_code'] = df['departement_code'].astype(str).str.zfill(2)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5409 entries, 0 to 5408
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   year                             5409 non-null   int64
 1   station_code                     5409 non-null   string
 2   station_name                     5409 non-null   object
 3   region_sncf                      5409 non-null   object
 4   departement                      5409 non-null   object
 5   departement_code                 5409 non-null   object
 6   zip_code                         5409 non-null   object
 7   municipality                     5409 non-null   object
 8   longitude                        5409 non-null   float64
 9   latitude                         5409 non-null   float64
 10  total_passengers_over_the_year   5409 non-null   int64
 11  station_category                 5409 non-null   int64
 12  service_level                    5409 non-null   int64
 13  wheelchair_available_in_station  5409 non-null   int64
 14  simple_assistance                5409 non-null   int64
 15  ramp_assistance                  5409 non-null   int64
 16  wheelchair_assistance            5409 non-null   int64
 17  ramp_and_wheelchair_assistance   5409 non-null   int64
 18  total_assistance                 5409 non-null   int64
dtypes: float64(2), int64(10), object(6), string(1)
memory usage: 803.0+ KB

In [10]:
# Display the 20 first rows of the dataframe
df.head(20)

,year,station_code,station_name,region_sncf,departement,departement_code,zip_code,municipality,longitude,latitude,total_passengers_over_the_year,station_category,service_level,wheelchair_available_in_station,simple_assistance,ramp_assistance,wheelchair_assistance,ramp_and_wheelchair_assistance,total_assistance
0,2015,87111849,Marne-la-Vallee Chessy,REGION DE PARIS-SUD-EST,Seine-et-Marne,77,77700,Chessy,2.782720,48.869856,5443822,3,1,1,3677,2081,78,9357,15193
1,2015,87113001,Paris Est,REGION DE PARIS-EST,Paris,75,75010,Paris,2.358424,48.876742,34919689,3,1,1,3610,2946,161,11133,17850
2,2015,87116582,Chateau-Thierry,REGION DE PARIS-EST,Aisne,02,02400,Chateau-Thierry,3.409514,49.038224,1924022,2,2,1,29,5,0,149,183
3,2015,87118000,Troyes,REGION CHAMPAGNE-ARDENNE,Aube,10,10014,Troyes,4.065281,48.296069,1001917,3,2,1,72,145,7,518,742
4,2015,87118158,Romilly-sur-Seine,REGION DE PARIS-EST,Aube,10,10100,Romilly-sur-Seine,3.728887,48.514433,306218,2,3,0,25,45,0,113,183
5,2015,87141002,Nancy,REGION LORRAINE,Meurthe-et-Moselle,54,54000,Nancy,6.174583,48.689861,7918088,3,1,1,3569,968,79,8651,13267
6,2015,87141044,Toul,REGION LORRAINE,Meurthe-et-Moselle,54,54200,Toul,5.880615,48.679018,232067,2,2,0,430,40,7,576,1053
7,2015,87141150,Luneville,REGION LORRAINE,Meurthe-et-Moselle,54,54300,Luneville,6.497270,48.588233,923786,2,2,0,87,28,3,255,373
8,2015,87141291,Neufchateau,REGION LORRAINE,Vosges,88,88300,Neufchateau,5.690402,48.358343,80707,1,3,0,13,23,0,189,225
9,2015,87141820,Pont-a-Mousson,REGION LORRAINE,Meurthe-et-Moselle,54,54700,Pont-a-Mousson,6.050842,48.900580,979424,2,3,0,280,5,2,367,654
10,2015,87142000,Chaumont,REGION CHAMPAGNE-ARDENNE,Haute-Marne,52,52000,Chaumont,5.134600,48.109760,420282,2,2,0,103,104,6,552,765
11,2015,87142109,Lorraine TGV,REGION LORRAINE,Moselle,57,57420,Louvigny,6.169838,48.947773,647339,3,2,1,699,654,48,2600,4001
12,2015,87142125,Culmont-Chalindrey,REGION LORRAINE,Haute-Marne,52,52600,Chalindrey,5.443222,47.810090,100673,1,3,0,38,114,4,471,627
13,2015,87144006,pinal,REGION LORRAINE,Vosges,88,88000,pinal,6.441787,48.178005,1143705,2,2,1,348,113,13,1371,1845
14,2015,87144014,Saint-Die-des-Vosges,REGION LORRAINE,Vosges,88,88100,Saint-Die-des-Vosges,6.948656,48.282225,405652,2,2,0,144,42,7,323,516
15,2015,87144055,Charmes,REGION LORRAINE,Vosges,88,88130,Charmes,6.301537,48.378483,288612,2,3,0,6,0,0,7,13
16,2015,87144279,Vittel,REGION LORRAINE,Vosges,88,88800,Vittel,5.941872,48.202488,66226,1,3,0,5,7,0,31,43
17,2015,87144451,Remiremont,REGION LORRAINE,Vosges,88,88200,Remiremont,6.598855,48.016363,266804,2,2,0,73,50,6,264,393
18,2015,87147322,Meuse TGV,REGION LORRAINE,Meuse,55,55220,Trois-Domaines,5.270954,48.978549,202506,3,2,1,94,75,0,416,585
19,2015,87171009,Reims,REGION CHAMPAGNE-ARDENNE,Marne,51,51100,Reims,4.024435,49.258978,3884021,3,2,1,750,408,29,3315,4502

In [11]:
# Generate descriptive statistics: mean, standard deviation, minimum, lower quartile, median, upper quartile, maximum
df.describe()

,year,longitude,latitude,total_passengers_over_the_year,station_category,service_level,wheelchair_available_in_station,simple_assistance,ramp_assistance,wheelchair_assistance,ramp_and_wheelchair_assistance,total_assistance
count,5409.000000,5409.000000,5409.000000,5.409000e+03,5409.000000,5409.000000,5409.000000,5409.000000,5409.000000,5409.000000,5409.000000,5409.000000
mean,2018.633019,2.639246,47.402391,2.784821e+06,1.950083,1.794971,0.266778,390.484008,250.433537,152.434276,472.411351,1265.763172
std,2.104102,2.254879,1.983944,1.099477e+07,0.577007,1.231492,0.442316,1486.871220,1108.616109,988.038411,2791.307323,5274.548216
min,2015.000000,-4.478903,42.441773,8.430000e+02,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2017.000000,1.691928,45.843264,1.678770e+05,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,6.000000
50%,2019.000000,2.358424,48.197856,6.091580e+05,2.000000,2.000000,0.000000,21.000000,14.000000,2.000000,1.000000,66.000000
75%,2020.000000,4.024435,48.901220,1.875316e+06,2.000000,3.000000,1.000000,180.000000,109.000000,28.000000,33.000000,541.000000
max,2022.000000,7.851654,51.030470,2.479632e+08,3.000000,3.000000,1.000000,24512.000000,28348.000000,28978.000000,63627.000000,108406.000000

### Counting Values (incl NaN)

In [13]:
df['year'].value_counts(dropna = False)

year
2019    809
2018    800
2017    792
2020    786
2021    698
2022    546
2016    491
2015    487
Name: count, dtype: int64

In [14]:
df['station_code'].value_counts(dropna = False)

station_code
87111849    8
87281444    8
87281006    8
87276691    8
87276006    8
           ..
87746412    1
87746149    1
87734129    1
87755231    1
87741777    1
Name: count, Length: 865, dtype: Int64

In [15]:
df['station_name'].value_counts(dropna = False)

station_name
Marne-la-Vallee Chessy    8
Montlucon                 8
Lavaur                    8
Castres                   8
Saint-Sulpice             8
                         ..
Vertou                    1
Montmorillon              1
Montmoreau                1
Carbonne                  1
Landry                    1
Name: count, Length: 867, dtype: int64

In [16]:
df['region_sncf'].value_counts(dropna = False)

region_sncf
REGION DE PARIS RIVE GAUCHE          560
REGION DE PARIS-NORD                 440
REGION DE PARIS SAINT-LAZARE         417
REGION DE PARIS-SUD-EST              310
REGION MIDI PYRENEES                 295
REGION CENTRE                        284
REGION AUVERGNE                      278
REGION POITOU-CHARENTES AQUITAINE    251
REGION LORRAINE                      246
REGION BOURGOGNE FRANCHE-COMTE       233
REGION ALPES                         210
REGION PROVENCE ALPES COTE D'AZUR    207
REGION DE PARIS-EST                  204
REGION RHONE-ALPES                   197
REGION NORD PAS DE CALAIS            188
REGION PAYS DE LA LOIRE              185
REGION BRETAGNE                      168
REGION LIMOUSIN                      154
REGION NORMANDIE                     141
REGION LANGUEDOC-ROUSSILLON          128
REGION CHAMPAGNE-ARDENNE             110
REGION PICARDIE                      105
REGION ALSACE                         98
Name: count, dtype: int64

In [17]:
df['departement'].value_counts(dropna = False)

departement
Yvelines                   304
Val-d'Oise                 300
Essonne                    222
Seine-et-Marne             173
Hauts-de-Seine             165
                          ...
Alpes-de-Haute-Provence     16
Territoire de Belfort       16
Landes                      16
Haute-Saone                 14
Mayenne                      8
Name: count, Length: 93, dtype: int64

In [18]:
df['zip_code'].value_counts(dropna = False)

zip_code
78000    31
75015    24
75010    22
75016    19
95120    19
         ..
59230     1
59610     1
59460     1
80133     1
73210     1
Name: count, Length: 757, dtype: int64

In [19]:
df['municipality'].value_counts(dropna = False)

municipality
Paris                   155
Lyon                     34
Versailles               31
Ermont                   19
Villepinte               18
                       ...
Saint-Amand-les-Eaux      1
Jeumont                   1
Rue                       1
Noyelles-sur-Mer          1
Landry                    1
Name: count, Length: 762, dtype: int64

In [20]:
df['longitude'].value_counts(dropna = False)

longitude
2.306990    11
2.782720     8
2.077963     8
2.152401     8
1.813146     8
            ..
4.053570     1
4.086450     1
1.675700     1
1.704577     1
6.733818     1
Name: count, Length: 864, dtype: int64

In [21]:
df['latitude'].value_counts(dropna = False)

latitude
48.856450    11
48.869856     8
44.578246     8
44.048782     8
43.703479     8
             ..
50.015410     1
50.296060     1
50.273080     1
50.187541     1
45.574171     1
Name: count, Length: 864, dtype: int64

In [22]:
df['station_category'].value_counts(dropna = False)

station_category
2    3595
1    1042
3     772
Name: count, dtype: int64

In [23]:
df['wheelchair_available_in_station'].value_counts(dropna = False)

wheelchair_available_in_station
0    3966
1    1443
Name: count, dtype: int64

In [24]:
df['simple_assistance'].value_counts(dropna = False)

simple_assistance
0       945
1       342
2       262
3       171
4       131
       ...
840       1
342       1
2038      1
1411      1
3162      1
Name: count, Length: 1072, dtype: int64

In [25]:
df['ramp_assistance'].value_counts(dropna = False)

ramp_assistance
0       1408
1        291
2        227
4        126
3        124
        ...
8003       1
292        1
378        1
1720       1
463        1
Name: count, Length: 866, dtype: int64

In [26]:
df['wheelchair_assistance'].value_counts(dropna = False)

wheelchair_assistance
0       2145
1        445
2        271
3        159
4        119
        ...
1489       1
511        1
1032       1
986        1
302        1
Name: count, Length: 625, dtype: int64

In [27]:
df['ramp_and_wheelchair_assistance'].value_counts(dropna = False)

ramp_and_wheelchair_assistance
0        2532
1         317
2         219
3         135
4          89
         ...
1410        1
764         1
4616        1
14151       1
332         1
Name: count, Length: 891, dtype: int64

In [28]:
df['total_assistance'].value_counts(dropna = False)

total_assistance
0        577
1        244
2        175
3        121
4        112
        ...
2428       1
236        1
1181       1
21722      1
558        1
Name: count, Length: 1609, dtype: int64

### Consistency Checks

In [29]:
# check whether the dataframe contains any mixed-type columns
for col in df.columns.tolist():
  weird = (df[[col]].map(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

No mixed-type columns

In [30]:
# Check whether a dataframe contains any missing values
df.isnull().sum()

year                               0
station_code                       0
station_name                       0
region_sncf                        0
departement                        0
departement_code                   0
zip_code                           0
municipality                       0
longitude                          0
latitude                           0
total_passengers_over_the_year     0
station_category                   0
service_level                      0
wheelchair_available_in_station    0
simple_assistance                  0
ramp_assistance                    0
wheelchair_assistance              0
ramp_and_wheelchair_assistance     0
total_assistance                   0
dtype: int64

No missing values

In [31]:
# Check whether a dataframe contains any FULL duplicate records
df_dups = df[df.duplicated()]
# Display the DataFrame containing only rows that are duplicates
df_dups

Empty DataFrame
Columns: [year, station_code, station_name, region_sncf, departement, departement_code, zip_code, municipality, longitude, latitude, total_passengers_over_the_year, station_category, service_level, wheelchair_available_in_station, simple_assistance, ramp_assistance, wheelchair_assistance, ramp_and_wheelchair_assistance, total_assistance]
Index: []

No FULL duplicate records

In [32]:
# Exporting data to .pkl
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned assistance.pkl'))